* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: rgb(65, 65, 65);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 130, 238);
    min-height: 14rem;
    min-width: 15rem;
    border-radius: 5%;
    text-align: center;
}

h1 {
    font-family: "Lobster", cursive;
}

h1,
h2,
option, .change {
    padding: 1rem;
}

h1:hover {
    cursor: default;
}
h2:hover {
    cursor: default;
}
h4:hover {
    cursor: default;
}

h4 {
    padding-top: 1.5rem;
}
input {
    height: 1rem;
    font-size: 16px;
    width: 10.8rem;
}

button {
    height: 1.5rem;
    font-size: 16px;
    min-width: 5rem;
}

select {
    margin: 0.8rem;
    height: 1.5rem;
    min-width: 11rem;
}

.search {
    background-color: rgb(104, 104, 104);
    border: none;
    border-radius: 10%;
    color: white;
    font-weight: bold;
}

.search:hover {
    transform: scale(1.25);
    transition: ease-in-out 1s;
    cursor: pointer;
}

#refresh {
    margin-left: 1rem;
}

#refresh:hover {
    transform: scale(1.5);
    transition: ease-in-out 1s;
    cursor: pointer;
}
